body{
    background-color:lightgreen;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    color:aliceblue
}

#output{
    font-weight: bold;
    color:rgb(255, 0, 60);
    font-size: larger;
}
